<!-- Views/Shared/_ViewAllModal.cshtml -->
<div class="modal fade" id="viewAllModal" tabindex="-1" role="dialog" aria-labelledby="viewAllModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewAllModalLabel">Member Details</h5>           
            </div>
            <div class="modal-body" id="list-container">
                <!-- Content will be dynamically loaded here -->
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>